<table>
  <thead>
    <th>Автор</th>
    <th>Название</th>
    <th>Цена</th>
  </thead>
  <% @wares.each do |ware| %>
    <tr>
      <td><%= ware.book.author %></td>
      <td><%= ware.book.title %></td>
      <td><%= price(ware) %>$</td>
    </tr>
  <% end %>
</table>